.btn {
  background: linear-gradient(to right, #f5fc37a1, #ff006afa);
  color: white;
  padding: 12.5px 16px;
  border-radius: 200px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(255, 253, 253, 0.2);
  background: linear-gradient(to right, #001eff, #d6b1b7);
}

.nav-links,
.subscribe-btn {
  display: flex;
}

.mobile-menu {
  display: none;
}

.menu-toggle:checked + label + .mobile-nav {
  display: flex;
  flex-direction: column;
}

.hero-circle {
  width: 80%;
  max-width: 350px;
}

.microphone {
  width: 5rem;
}

.new-badge {
  font-size: 1.125rem;
  top: 1rem;
  right: 1rem;
}

.container > * {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 2.25rem;
}
#audio {
  padding-top: 7rem;
  grid-area: audio;
}
#mobile {
  grid-area: mobile;
}
#global {
  grid-area: global;
}
#exclusive {
  grid-area: exclusive;
}
#rich {
  grid-area: rich;
}
.container {
  max-width: 100%;
  display: grid;
  gap: 30px;
  grid-template-areas:
    "audio mobile mobile"
    "audio global global"
    "exclusive exclusive rich";
}

@media (max-width: 576px) {
  .nav-links,
  .subscribe-btn {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero-circle {
    width: 60%;
    max-width: 250px;
  }

  .microphone {
    width: 25%;
  }

  .new-badge {
    font-size: 0.8rem;
    top: 5%;
    right: 5%;
  }
  .about {
    padding: 2.5rem 1.25rem 0rem;
  }
  .line {
    margin: 40px 0px;
  }
  .card-container {
    grid-template-columns: repeat(2, 2fr);
  }

  .choose {
    padding: 40px 20px;
  }
  #audio {
    padding-top: 2.25rem;
  }
  .container {
    gap: 16px;
    grid-template-areas:
      "audio"
      "mobile"
      "global"
      "exclusive"
      "rich";
  }
  .mhost {
    padding-top: 60px;
    padding-bottom: 0;
  }
  .featured {
    padding: 40px 20px 60px;
  }
  .vid {
    grid-template-columns: 1fr;
  }
  .challenge {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .social-container {
    justify-content: center;
  }
}
